{
  "username": "admin",
  "password": "changeme",
  "clients": [
    "smoker-test/centos8:nightly",
    "smoker-test/centos7:nightly",
    "smoker-test/centos6:nightly"
  ],
  "headers": {
    "X-Clacks-Overhead": "GNU Terry Pratchett"
  },
  "host_resolver_rules": "MAP foreman.example.com 10.0.0.1"
}
